---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body><div class="grid-container">
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Hi!
				I'm a machine learning researcher interested in probabilistic approaches to
				natural language processing.
			</p>
			<p>
    			I'm currently working on methods for efficient human-robot dialogue.
    			In particular, I am interested in applying methods from
    			Bayesian optimization, experimental design, and program synthesis for
    			optimal and trustworthy communication.
    		</p>
			<p>
				I am in the final year of my PhD at Cornell, advised by Sasha Rush.
				I started grad school at Harvard, also with Sasha.
        		Before that, I was a research engineer at Facebook AI Research.
            	I did my undergrad at UPenn CIS.
        	</p>

        	<h3>Research Topics</h3>
		</main>
		<Footer />
	</div></body>
</html>
