---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const publications = [1,2]
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body><div class="grid-container">
		<Header title={SITE_TITLE} />
		<main>
    		<h3>Publications</h3>
            {
                publications.map((publication) => (
                    <div class="pub">
                        <div class="pub-title">
                            {publication}
                        </div>
                    </div>
                ))
            }
		</main>
		<Footer />
	</div></body>
</html>
